/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 14, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* jQuery UI CSS Framework
 * Copyright (c) 2010 AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT (MIT-LICENSE.txt) and GPL (GPL-LICENSE.txt) licenses. */
/* Layout helpers
 * ---------------------------------- */
/* line 9, ../../app/stylesheets/jquery-ui/ui.core.sass */
.ui-helper-hidden {
  display: none;
}

/* line 12, ../../app/stylesheets/jquery-ui/ui.core.sass */
.ui-helper-hidden-accessible {
  position: absolute;
  left: -99999999px;
}

/* line 16, ../../app/stylesheets/jquery-ui/ui.core.sass */
.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}

/* line 26, ../../app/stylesheets/jquery-ui/ui.core.sass */
.ui-helper-clearfix {
  display: inline-block;
}
/* line 27, ../../app/stylesheets/jquery-ui/ui.core.sass */
.ui-helper-clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* required comment for clearfix to work in Opera \ */
/* line 37, ../../app/stylesheets/jquery-ui/ui.core.sass */
* html .ui-helper-clearfix {
  height: 1%;
}

/* line 40, ../../app/stylesheets/jquery-ui/ui.core.sass */
.ui-helper-clearfix {
  display: block;
}

/* end clearfix */
/* line 45, ../../app/stylesheets/jquery-ui/ui.core.sass */
.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter: Alpha(Opacity=0);
}

/* Interaction Cues
 * ---------------------------------- */
/* line 57, ../../app/stylesheets/jquery-ui/ui.core.sass */
.ui-state-disabled {
  cursor: default !important;
}

/* Icons
 * ---------------------------------- */
/* states and images */
/* line 65, ../../app/stylesheets/jquery-ui/ui.core.sass */
.ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
}

/* Misc visuals
 * ---------------------------------- */
/* Overlays */
/* line 76, ../../app/stylesheets/jquery-ui/ui.core.sass */
.ui-widget-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Resizable
 * ---------------------------------- */
/* line 4, ../../app/stylesheets/jquery-ui/ui.resizable.sass */
.ui-resizable {
  position: relative;
}

/* line 7, ../../app/stylesheets/jquery-ui/ui.resizable.sass */
.ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  z-index: 99999;
  display: block;
}

/* line 13, ../../app/stylesheets/jquery-ui/ui.resizable.sass */
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle {
  display: none;
}

/* line 16, ../../app/stylesheets/jquery-ui/ui.resizable.sass */
.ui-resizable-n {
  cursor: n-resize;
  height: 7px;
  width: 100%;
  top: -5px;
  left: 0;
}

/* line 23, ../../app/stylesheets/jquery-ui/ui.resizable.sass */
.ui-resizable-s {
  cursor: s-resize;
  height: 7px;
  width: 100%;
  bottom: -5px;
  left: 0;
}

/* line 30, ../../app/stylesheets/jquery-ui/ui.resizable.sass */
.ui-resizable-e {
  cursor: e-resize;
  width: 7px;
  right: -5px;
  top: 0;
  height: 100%;
}

/* line 37, ../../app/stylesheets/jquery-ui/ui.resizable.sass */
.ui-resizable-w {
  cursor: w-resize;
  width: 7px;
  left: -5px;
  top: 0;
  height: 100%;
}

/* line 44, ../../app/stylesheets/jquery-ui/ui.resizable.sass */
.ui-resizable-se {
  cursor: se-resize;
  width: 12px;
  height: 12px;
  right: 1px;
  bottom: 1px;
}

/* line 51, ../../app/stylesheets/jquery-ui/ui.resizable.sass */
.ui-resizable-sw {
  cursor: sw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  bottom: -5px;
}

/* line 58, ../../app/stylesheets/jquery-ui/ui.resizable.sass */
.ui-resizable-nw {
  cursor: nw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  top: -5px;
}

/* line 65, ../../app/stylesheets/jquery-ui/ui.resizable.sass */
.ui-resizable-ne {
  cursor: ne-resize;
  width: 9px;
  height: 9px;
  right: -5px;
  top: -5px;
}

/* Accordion
 * ---------------------------------- */
/* line 5, ../../app/stylesheets/jquery-ui/ui.accordion.sass */
.ui-accordion .ui-accordion-header {
  cursor: pointer;
  position: relative;
  margin-top: 1px;
  zoom: 1;
  padding-left: 2.2em;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 18, ../../app/stylesheets/jquery-ui/ui.accordion.sass */
.ui-accordion .ui-accordion-header .ui-icon {
  position: absolute;
  left: 0.5em;
  top: 50%;
  margin-top: -8px;
}
/* line 24, ../../app/stylesheets/jquery-ui/ui.accordion.sass */
.ui-accordion .ui-accordion-li-fix {
  display: inline;
}
/* line 27, ../../app/stylesheets/jquery-ui/ui.accordion.sass */
.ui-accordion .ui-accordion-header-active {
  border-bottom: 0 !important;
}
/* line 30, ../../app/stylesheets/jquery-ui/ui.accordion.sass */
.ui-accordion .ui-accordion-content {
  border-top: 0;
  margin-top: -2px;
  position: relative;
  top: 1px;
  margin-bottom: 2px;
  overflow: auto;
  display: none;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 43, ../../app/stylesheets/jquery-ui/ui.accordion.sass */
.ui-accordion .ui-accordion-content-active {
  display: block;
}

/* Dialog
 * ---------------------------------- */
/* line 4, ../../app/stylesheets/jquery-ui/ui.dialog.sass */
.ui-dialog {
  position: absolute;
  padding: 0.2em;
  width: 300px;
  overflow: hidden;
}
/* line 9, ../../app/stylesheets/jquery-ui/ui.dialog.sass */
.ui-dialog .ui-dialog-titlebar {
  padding: 0.5em 1em 0.3em;
  position: relative;
}
/* line 12, ../../app/stylesheets/jquery-ui/ui.dialog.sass */
.ui-dialog .ui-dialog-title {
  float: left;
  margin: 0.1em 16px 0.2em 0;
  font-weight: normal;
  text-transform: uppercase;
}
/* line 17, ../../app/stylesheets/jquery-ui/ui.dialog.sass */
.ui-dialog .ui-dialog-titlebar-close {
  position: absolute;
  right: 0.3em;
  top: 50%;
  width: 19px;
  margin: -10px 0 0 0;
  padding: 1px;
  height: 18px;
}
/* line 25, ../../app/stylesheets/jquery-ui/ui.dialog.sass */
.ui-dialog .ui-dialog-titlebar-close span {
  display: block;
  margin: 1px;
}
/* line 28, ../../app/stylesheets/jquery-ui/ui.dialog.sass */
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus {
  padding: 0;
}
/* line 30, ../../app/stylesheets/jquery-ui/ui.dialog.sass */
.ui-dialog .ui-dialog-content {
  border: 0;
  padding: 0.5em 1em;
  background: none;
  overflow: auto;
  zoom: 1;
}
/* line 36, ../../app/stylesheets/jquery-ui/ui.dialog.sass */
.ui-dialog .ui-dialog-buttonpane {
  text-align: left;
  border-width: 1px 0 0 0;
  background-image: none;
  margin: 0.5em 0 0 0;
  padding: 0.3em 1em 0.5em 0.4em;
}
/* line 42, ../../app/stylesheets/jquery-ui/ui.dialog.sass */
.ui-dialog .ui-dialog-buttonpane button {
  float: right;
  margin: 0.5em 0.4em 0.5em 0;
  cursor: pointer;
  padding: 0.2em 0.6em 0.3em 0.6em;
  line-height: 1.4em;
  width: auto;
  overflow: visible;
}
/* line 50, ../../app/stylesheets/jquery-ui/ui.dialog.sass */
.ui-dialog .ui-resizable-se {
  width: 14px;
  height: 14px;
  right: 3px;
  bottom: 3px;
}

/* line 56, ../../app/stylesheets/jquery-ui/ui.dialog.sass */
.ui-draggable .ui-dialog-titlebar {
  cursor: move;
}

/* Slider
 * ---------------------------------- */
/* line 4, ../../app/stylesheets/jquery-ui/ui.slider.sass */
.ui-slider {
  position: relative;
  text-align: left;
}
/* line 8, ../../app/stylesheets/jquery-ui/ui.slider.sass */
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1.2em;
  height: 1.2em;
  cursor: default;
}
/* line 15, ../../app/stylesheets/jquery-ui/ui.slider.sass */
.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: 0.7em;
  display: block;
  border: 0;
}

/* line 23, ../../app/stylesheets/jquery-ui/ui.slider.sass */
.ui-slider-horizontal {
  height: 0.8em;
}
/* line 26, ../../app/stylesheets/jquery-ui/ui.slider.sass */
.ui-slider-horizontal .ui-slider-handle {
  top: -0.3em;
  margin-left: -0.6em;
}
/* line 30, ../../app/stylesheets/jquery-ui/ui.slider.sass */
.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
/* line 34, ../../app/stylesheets/jquery-ui/ui.slider.sass */
.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}
/* line 37, ../../app/stylesheets/jquery-ui/ui.slider.sass */
.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}

/* line 41, ../../app/stylesheets/jquery-ui/ui.slider.sass */
.ui-slider-vertical {
  width: 0.8em;
  height: 100px;
}
/* line 45, ../../app/stylesheets/jquery-ui/ui.slider.sass */
.ui-slider-vertical .ui-slider-handle {
  left: -0.3em;
  margin-left: 0;
  margin-bottom: -0.6em;
}
/* line 50, ../../app/stylesheets/jquery-ui/ui.slider.sass */
.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 100%;
}
/* line 54, ../../app/stylesheets/jquery-ui/ui.slider.sass */
.ui-slider-vertical .ui-slider-range-min {
  bottom: 0;
}
/* line 57, ../../app/stylesheets/jquery-ui/ui.slider.sass */
.ui-slider-vertical .ui-slider-range-max {
  top: 0;
}

/* Tabs
 * ----------------------------------- */
/* line 3, ../../app/stylesheets/jquery-ui/ui.tabs.sass */
.ui-tabs {
  padding: 0.2em;
  zoom: 1;
}
/* line 7, ../../app/stylesheets/jquery-ui/ui.tabs.sass */
.ui-tabs .ui-tabs-nav {
  list-style: none;
  position: relative;
  padding: 0.2em 0.2em 0;
}
/* line 12, ../../app/stylesheets/jquery-ui/ui.tabs.sass */
.ui-tabs .ui-tabs-nav li {
  position: relative;
  float: left;
  border-bottom-width: 0 !important;
  margin: 0 0.2em -1px 0;
  padding: 0;
}
/* line 19, ../../app/stylesheets/jquery-ui/ui.tabs.sass */
.ui-tabs .ui-tabs-nav li a {
  float: left;
  text-decoration: none;
  padding: 0.5em 1em;
  cursor: pointer;
}
/* line 25, ../../app/stylesheets/jquery-ui/ui.tabs.sass */
.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
  padding-bottom: 1px;
  border-bottom-width: 0;
}
/* line 29, ../../app/stylesheets/jquery-ui/ui.tabs.sass */
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
  cursor: text;
}
/* line 32, ../../app/stylesheets/jquery-ui/ui.tabs.sass */
.ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a {
  cursor: text;
}
/* line 35, ../../app/stylesheets/jquery-ui/ui.tabs.sass */
.ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
  cursor: pointer;
}
/* line 38, ../../app/stylesheets/jquery-ui/ui.tabs.sass */
.ui-tabs .ui-tabs-panel {
  padding: 1em 1.4em;
  display: block;
  border-width: 0;
  background: none;
}
/* line 44, ../../app/stylesheets/jquery-ui/ui.tabs.sass */
.ui-tabs .ui-tabs-hide {
  display: none !important;
}

/* Datepicker
 * ---------------------------------- */
/* line 4, ../../app/stylesheets/jquery-ui/ui.datepicker.sass */
.ui-datepicker {
  width: 17em;
  padding: 0.2em 0.2em 0;
}
/* line 8, ../../app/stylesheets/jquery-ui/ui.datepicker.sass */
.ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: 0.2em 0;
}
/* line 12, ../../app/stylesheets/jquery-ui/ui.datepicker.sass */
.ui-datepicker .ui-datepicker-prev {
  position: absolute;
  top: 2px;
  width: 1.8em;
  height: 1.8em;
  left: 2px;
}
/* line 19, ../../app/stylesheets/jquery-ui/ui.datepicker.sass */
.ui-datepicker .ui-datepicker-prev span {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: 50%;
  margin-top: -8px;
}
/* line 27, ../../app/stylesheets/jquery-ui/ui.datepicker.sass */
.ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: 2px;
  width: 1.8em;
  height: 1.8em;
  right: 2px;
}
/* line 34, ../../app/stylesheets/jquery-ui/ui.datepicker.sass */
.ui-datepicker .ui-datepicker-next span {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: 50%;
  margin-top: -8px;
}
/* line 42, ../../app/stylesheets/jquery-ui/ui.datepicker.sass */
.ui-datepicker .ui-datepicker-prev-hover {
  top: 1px;
  left: 1px;
}
/* line 46, ../../app/stylesheets/jquery-ui/ui.datepicker.sass */
.ui-datepicker .ui-datepicker-next-hover {
  top: 1px;
  right: 1px;
}
/* line 50, ../../app/stylesheets/jquery-ui/ui.datepicker.sass */
.ui-datepicker .ui-datepicker-title {
  margin: 0 2.3em;
  line-height: 1.8em;
  text-align: center;
}
/* line 55, ../../app/stylesheets/jquery-ui/ui.datepicker.sass */
.ui-datepicker .ui-datepicker-title select {
  float: left;
  font-size: 1em;
  margin: 1px 0;
}
/* line 60, ../../app/stylesheets/jquery-ui/ui.datepicker.sass */
.ui-datepicker .ui-datepicker-title select.ui-datepicker-year {
  float: right;
}
/* line 64, ../../app/stylesheets/jquery-ui/ui.datepicker.sass */
.ui-datepicker select.ui-datepicker-month-year {
  width: 100%;
}
/* line 67, ../../app/stylesheets/jquery-ui/ui.datepicker.sass */
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
  width: 49%;
}
/* line 70, ../../app/stylesheets/jquery-ui/ui.datepicker.sass */
.ui-datepicker table {
  width: 100%;
  font-size: 0.9em;
  border-collapse: collapse;
  margin: 0 0 0.4em;
}
/* line 76, ../../app/stylesheets/jquery-ui/ui.datepicker.sass */
.ui-datepicker th {
  padding: 0.7em 0.3em;
  text-align: center;
  font-weight: bold;
  border: 0;
}
/* line 82, ../../app/stylesheets/jquery-ui/ui.datepicker.sass */
.ui-datepicker td {
  border: 0;
  padding: 1px;
}
/* line 86, ../../app/stylesheets/jquery-ui/ui.datepicker.sass */
.ui-datepicker td span, .ui-datepicker td a {
  display: block;
  padding: 0.2em;
  text-align: right;
  text-decoration: none;
}
/* line 92, ../../app/stylesheets/jquery-ui/ui.datepicker.sass */
.ui-datepicker .ui-datepicker-buttonpane {
  background-image: none;
  margin: 0.7em 0 0 0;
  padding: 0 0.2em;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}
/* line 100, ../../app/stylesheets/jquery-ui/ui.datepicker.sass */
.ui-datepicker .ui-datepicker-buttonpane button {
  float: right;
  margin: 0.5em 0.2em 0.4em;
  cursor: pointer;
  padding: 0.2em 0.6em 0.3em 0.6em;
  width: auto;
  overflow: visible;
}
/* line 108, ../../app/stylesheets/jquery-ui/ui.datepicker.sass */
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: left;
}

/* with multiple calendars
 *
 * &.ui-datepicker-multi
 *   :width auto */
/* line 118, ../../app/stylesheets/jquery-ui/ui.datepicker.sass */
.ui-datepicker-multi .ui-datepicker-group {
  float: left;
}
/* line 121, ../../app/stylesheets/jquery-ui/ui.datepicker.sass */
.ui-datepicker-multi .ui-datepicker-group table {
  width: 95%;
  margin: 0 auto 0.4em;
}
/* line 125, ../../app/stylesheets/jquery-ui/ui.datepicker.sass */
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header, .ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
  border-left-width: 0;
}
/* line 128, ../../app/stylesheets/jquery-ui/ui.datepicker.sass */
.ui-datepicker-multi .ui-datepicker-buttonpane {
  clear: left;
}

/* line 131, ../../app/stylesheets/jquery-ui/ui.datepicker.sass */
.ui-datepicker-multi-2 .ui-datepicker-group {
  width: 50%;
}

/* line 134, ../../app/stylesheets/jquery-ui/ui.datepicker.sass */
.ui-datepicker-multi-3 .ui-datepicker-group {
  width: 33.3%;
}

/* line 137, ../../app/stylesheets/jquery-ui/ui.datepicker.sass */
.ui-datepicker-multi-4 .ui-datepicker-group {
  width: 25%;
}

/* line 140, ../../app/stylesheets/jquery-ui/ui.datepicker.sass */
.ui-datepicker-row-break {
  clear: both;
  width: 100%;
}

/* RTL support */
/* line 146, ../../app/stylesheets/jquery-ui/ui.datepicker.sass */
.ui-datepicker-rtl {
  direction: rtl;
}
/* line 149, ../../app/stylesheets/jquery-ui/ui.datepicker.sass */
.ui-datepicker-rtl .ui-datepicker-prev {
  right: 2px;
  left: auto;
}
/* line 153, ../../app/stylesheets/jquery-ui/ui.datepicker.sass */
.ui-datepicker-rtl .ui-datepicker-prev:hover {
  right: 1px;
  left: auto;
}
/* line 157, ../../app/stylesheets/jquery-ui/ui.datepicker.sass */
.ui-datepicker-rtl .ui-datepicker-next {
  left: 2px;
  right: auto;
}
/* line 161, ../../app/stylesheets/jquery-ui/ui.datepicker.sass */
.ui-datepicker-rtl .ui-datepicker-next:hover {
  left: 1px;
  right: auto;
}
/* line 165, ../../app/stylesheets/jquery-ui/ui.datepicker.sass */
.ui-datepicker-rtl .ui-datepicker-buttonpane {
  clear: right;
}
/* line 168, ../../app/stylesheets/jquery-ui/ui.datepicker.sass */
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
  float: left;
}
/* line 171, ../../app/stylesheets/jquery-ui/ui.datepicker.sass */
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: right;
}
/* line 174, ../../app/stylesheets/jquery-ui/ui.datepicker.sass */
.ui-datepicker-rtl .ui-datepicker-group {
  float: right;
}
/* line 177, ../../app/stylesheets/jquery-ui/ui.datepicker.sass */
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header, .ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
  border-right-width: 0;
  border-left-width: 1px;
}

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
/* line 183, ../../app/stylesheets/jquery-ui/ui.datepicker.sass */
.ui-datepicker-cover {
  /* Sorry for IE 5 */
  display: none;
  /* Sorry for IE 5 */
  display/**/: block;
  /* Must-have */
  position: absolute;
  /* Must-have */
  z-index: -1;
  /* Must-have */
  filter: mask();
  /* Must-have */
  top: -4px;
  /* Must-have */
  left: -4px;
  /* Must-have */
  width: 200px;
  /* Must-have */
  height: 200px;
}

/* Progressbar
 * ---------------------------------- */
/* line 3, ../../app/stylesheets/jquery-ui/ui.progressbar.sass */
.ui-progressbar {
  height: 2em;
  text-align: left;
}
/* line 7, ../../app/stylesheets/jquery-ui/ui.progressbar.sass */
.ui-progressbar .ui-progressbar-value {
  margin: -1px;
  height: 100%;
}

/* line 1, ../../app/stylesheets/jquery-ui/ui.button.sass */
.ui-button {
  display: inline-block;
  position: relative;
  padding: 0;
  margin-right: 0.1em;
  text-decoration: none !important;
  cursor: pointer;
  text-align: center;
  zoom: 1;
  overflow: visible;
}

/* line 13, ../../app/stylesheets/jquery-ui/ui.button.sass */
.ui-button-icon-only {
  width: 2.2em;
}

/* line 17, ../../app/stylesheets/jquery-ui/ui.button.sass */
button.ui-button-icon-only {
  width: 2.4em;
}

/* line 21, ../../app/stylesheets/jquery-ui/ui.button.sass */
.ui-button-icons-only {
  width: 3.4em;
}

/* line 25, ../../app/stylesheets/jquery-ui/ui.button.sass */
button.ui-button-icons-only {
  width: 3.7em;
}

/* line 29, ../../app/stylesheets/jquery-ui/ui.button.sass */
.ui-button .ui-button-text {
  display: block;
  line-height: 1.4;
}

/* line 34, ../../app/stylesheets/jquery-ui/ui.button.sass */
.ui-button-text-only .ui-button-text {
  padding: 0.4em 1em;
}

/* line 38, ../../app/stylesheets/jquery-ui/ui.button.sass */
.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text {
  padding: 0.4em;
  text-indent: -9999999px;
}

/* line 43, ../../app/stylesheets/jquery-ui/ui.button.sass */
.ui-button-text-icon .ui-button-text {
  padding: 0.4em 1em 0.4em 2.1em;
}

/* line 47, ../../app/stylesheets/jquery-ui/ui.button.sass */
.ui-button-text-icons .ui-button-text {
  padding: 0.4em 1em 0.4em 2.1em;
  padding-left: 2.1em;
  padding-right: 2.1em;
}

/* line 53, ../../app/stylesheets/jquery-ui/ui.button.sass */
input.ui-button {
  padding: 0.4em 1em;
}

/* line 57, ../../app/stylesheets/jquery-ui/ui.button.sass */
.ui-button-icon-only .ui-icon, .ui-button-text-icon .ui-icon, .ui-button-text-icons .ui-icon, .ui-button-icons-only .ui-icon {
  position: absolute;
  top: 50%;
  margin-top: -8px;
}

/* line 63, ../../app/stylesheets/jquery-ui/ui.button.sass */
.ui-button-icon-only .ui-icon {
  left: 50%;
  margin-left: -8px;
}

/* line 68, ../../app/stylesheets/jquery-ui/ui.button.sass */
.ui-button-text-icon .ui-button-icon-primary, .ui-button-text-icons .ui-button-icon-primary, .ui-button-icons-only .ui-button-icon-primary {
  left: 0.5em;
}

/* line 72, ../../app/stylesheets/jquery-ui/ui.button.sass */
.ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary {
  right: 0.5em;
}

/* line 76, ../../app/stylesheets/jquery-ui/ui.button.sass */
.ui-buttonset {
  margin-right: 7px;
}
/* line 79, ../../app/stylesheets/jquery-ui/ui.button.sass */
.ui-buttonset .ui-button {
  margin-left: 0;
  margin-right: -0.3em;
}

/* line 84, ../../app/stylesheets/jquery-ui/ui.button.sass */
button.ui-button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* jQuery UI CSS Framework
 * Copyright (c) 2009 AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT (MIT-LICENSE.txt) and GPL (GPL-LICENSE.txt) licenses.
 * To view and modify this theme, visit http://jqueryui.com/themeroller/ */
/* line 10, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-widget {
  font-family: adelle-1, adelle-2;
  font-size: 1.1em;
}
/* line 14, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
  font-family: adelle-1, adelle-2;
  font-size: 1em;
}

/* line 18, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-widget-content {
  border: 1px solid #aaaaaa;
  background: white url("images//ui-bg_glass_75_ffffff_1x400.png") 0 0 repeat-x;
  color: #222222;
}
/* line 23, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-widget-content a {
  color: #222222;
}
/* line 26, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-widget-content .ui-state-default {
  border: 1px solid #d3d3d3;
  background: #e6e6e6  0 50% repeat-x;
  font-weight: normal;
  color: #555555;
  outline: none;
}
/* line 33, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-widget-content .ui-state-hover, .ui-widget-content .ui-state-focus {
  border: 1px solid #999999;
  background: #dadada  0 50% repeat-x;
  font-weight: normal;
  color: #222222;
  outline: none;
}
/* line 40, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-widget-content .ui-state-active {
  border: 1px solid #aaaaaa;
  background: #9fd72c  0 50% repeat-x;
  font-weight: normal;
  color: white;
  outline: none;
}
/* line 47, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-widget-content .ui-state-highlight {
  border: 1px solid black;
  background: #fbf9ee  0 50% repeat-x;
  color: #363636;
}
/* line 52, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-widget-content .ui-state-highlight a {
  color: #363636;
}
/* line 55, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-widget-content .ui-state-error {
  border: 1px solid #cd0a0a;
  background: #fef1ec url("images//ui-bg_inset-soft_95_fef1ec_1x100.png") 0 50% repeat-x;
  color: #cd0a0a;
}
/* line 60, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-widget-content .ui-state-error a {
  color: #cd0a0a;
}
/* line 63, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-widget-content .ui-state-error-text {
  color: #cd0a0a;
}
/* line 66, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-widget-content .ui-state-disabled {
  opacity: 0.35;
  filter: Alpha(Opacity= 35);
  background-image: none;
}
/* line 71, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-widget-content .ui-priority-primary {
  font-weight: bold;
}
/* line 74, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-widget-content .ui-priority-secondary {
  opacity: 0.7;
  filter: Alpha(Opacity= 70);
  font-weight: normal;
}
/* line 79, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-widget-content .ui-icon {
  background-image: url("images//ui-icons_222222_256x240.png");
}

/* line 83, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-widget-header {
  border: 1px solid #aaaaaa;
  background: #aaaaaa  0 50% repeat-x;
  color: white;
  font-weight: bold;
}
/* line 89, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-widget-header a {
  color: white;
}
/* line 92, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-widget-header .ui-icon {
  background-image: url("images//ui-icons_ffffff_256x240.png");
}

/* line 96, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-state-default {
  border: 1px solid #d3d3d3;
  background: #e6e6e6  0 50% repeat-x;
  font-weight: normal;
  color: #555555;
  outline: none;
}
/* line 103, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-state-default a {
  color: #555555;
  text-decoration: none;
  outline: none;
}
/* line 108, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-state-default a:link, .ui-state-default a:visited {
  color: #555555;
  text-decoration: none;
  outline: none;
}
/* line 113, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-state-default .ui-icon {
  background-image: url("images//ui-icons_888888_256x240.png");
}

/* line 117, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-state-hover {
  border: 1px solid #999999;
  background: #dadada  0 50% repeat-x;
  font-weight: normal;
  color: #222222;
  outline: none;
}
/* line 124, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-state-hover a {
  color: #222222;
  text-decoration: none;
  outline: none;
}
/* line 129, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-state-hover a:hover {
  color: #222222;
  text-decoration: none;
  outline: none;
}
/* line 134, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-state-hover .ui-icon {
  background-image: url("images//ui-icons_454545_256x240.png");
}

/* line 138, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-state-focus {
  border: 1px solid #999999;
  background: #dadada  0 50% repeat-x;
  font-weight: normal;
  color: #222222;
  outline: none;
}
/* line 145, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-state-focus .ui-icon {
  background-image: url("images//ui-icons_454545_256x240.png");
}

/* line 149, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-state-active {
  border: 1px solid #aaaaaa;
  background: #9fd72c  0 50% repeat-x;
  font-weight: normal;
  color: white;
  outline: none;
}
/* line 156, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-state-active a {
  color: white;
  outline: none;
  text-decoration: none;
}
/* line 161, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-state-active a:link, .ui-state-active a:visited {
  color: white;
  outline: none;
  text-decoration: none;
}
/* line 166, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-state-active .ui-icon {
  background-image: url("images//ui-icons_454545_256x240.png");
}

/* line 170, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-state-highlight {
  border: 1px solid black;
  background: #fbf9ee  0 50% repeat-x;
  color: #363636;
}
/* line 175, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-state-highlight a {
  color: #363636;
}
/* line 178, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-state-highlight .ui-icon {
  background-image: url("images//ui-icons_2e83ff_256x240.png");
}

/* line 182, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-state-error {
  border: 1px solid #cd0a0a;
  background: #fef1ec url("images//ui-bg_inset-soft_95_fef1ec_1x100.png") 0 50% repeat-x;
  color: #cd0a0a;
}
/* line 187, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-state-error a {
  color: #cd0a0a;
}
/* line 190, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-state-error .ui-icon {
  background-image: url("images//ui-icons_cd0a0a_256x240.png");
}

/* line 194, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-state-error-text {
  color: #cd0a0a;
}
/* line 197, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-state-error-text .ui-icon {
  background-image: url("images//ui-icons_cd0a0a_256x240.png");
}

/* line 201, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-state-disabled {
  opacity: 0.35;
  filter: Alpha(Opacity=35);
  background-image: none;
}

/* line 207, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-priority-primary {
  font-weight: bold;
}

/* line 211, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-priority-secondary {
  opacity: 0.7;
  filter: Alpha(Opacity= 70);
  font-weight: normal;
}

/* line 217, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon {
  width: 16px;
  height: 16px;
  background-image: url("images//ui-icons_222222_256x240.png");
}

/* line 223, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-carat-1-n {
  background-position: 0 0;
}

/* line 227, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-carat-1-ne {
  background-position: -16px 0;
}

/* line 231, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-carat-1-e {
  background-position: -32px 0;
}

/* line 235, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-carat-1-se {
  background-position: -48px 0;
}

/* line 239, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-carat-1-s {
  background-position: -64px 0;
}

/* line 243, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-carat-1-sw {
  background-position: -80px 0;
}

/* line 247, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-carat-1-w {
  background-position: -96px 0;
}

/* line 251, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-carat-1-nw {
  background-position: -112px 0;
}

/* line 255, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-carat-2-n-s {
  background-position: -128px 0;
}

/* line 259, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-carat-2-e-w {
  background-position: -144px 0;
}

/* line 263, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-triangle-1-n {
  background-position: 0 -16px;
}

/* line 267, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-triangle-1-ne {
  background-position: -16px -16px;
}

/* line 271, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-triangle-1-e {
  background-position: -32px -16px;
}

/* line 275, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-triangle-1-se {
  background-position: -48px -16px;
}

/* line 279, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-triangle-1-s {
  background-position: -64px -16px;
}

/* line 283, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-triangle-1-sw {
  background-position: -80px -16px;
}

/* line 287, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-triangle-1-w {
  background-position: -96px -16px;
}

/* line 291, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-triangle-1-nw {
  background-position: -112px -16px;
}

/* line 295, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-triangle-2-n-s {
  background-position: -128px -16px;
}

/* line 299, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-triangle-2-e-w {
  background-position: -144px -16px;
}

/* line 303, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-arrow-1-n {
  background-position: 0 -32px;
}

/* line 307, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-arrow-1-ne {
  background-position: -16px -32px;
}

/* line 311, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-arrow-1-e {
  background-position: -32px -32px;
}

/* line 315, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-arrow-1-se {
  background-position: -48px -32px;
}

/* line 319, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-arrow-1-s {
  background-position: -64px -32px;
}

/* line 323, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-arrow-1-sw {
  background-position: -80px -32px;
}

/* line 327, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-arrow-1-w {
  background-position: -96px -32px;
}

/* line 331, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-arrow-1-nw {
  background-position: -112px -32px;
}

/* line 335, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-arrow-2-n-s {
  background-position: -128px -32px;
}

/* line 339, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-arrow-2-ne-sw {
  background-position: -144px -32px;
}

/* line 343, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-arrow-2-e-w {
  background-position: -160px -32px;
}

/* line 347, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-arrow-2-se-nw {
  background-position: -176px -32px;
}

/* line 351, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-arrowstop-1-n {
  background-position: -192px -32px;
}

/* line 355, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-arrowstop-1-e {
  background-position: -208px -32px;
}

/* line 359, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-arrowstop-1-s {
  background-position: -224px -32px;
}

/* line 363, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-arrowstop-1-w {
  background-position: -240px -32px;
}

/* line 367, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-arrowthick-1-n {
  background-position: 0 -48px;
}

/* line 371, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-arrowthick-1-ne {
  background-position: -16px -48px;
}

/* line 375, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-arrowthick-1-e {
  background-position: -32px -48px;
}

/* line 379, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-arrowthick-1-se {
  background-position: -48px -48px;
}

/* line 383, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-arrowthick-1-s {
  background-position: -64px -48px;
}

/* line 387, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-arrowthick-1-sw {
  background-position: -80px -48px;
}

/* line 391, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-arrowthick-1-w {
  background-position: -96px -48px;
}

/* line 395, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-arrowthick-1-nw {
  background-position: -112px -48px;
}

/* line 399, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-arrowthick-2-n-s {
  background-position: -128px -48px;
}

/* line 403, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-arrowthick-2-ne-sw {
  background-position: -144px -48px;
}

/* line 407, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-arrowthick-2-e-w {
  background-position: -160px -48px;
}

/* line 411, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-arrowthick-2-se-nw {
  background-position: -176px -48px;
}

/* line 415, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-arrowthickstop-1-n {
  background-position: -192px -48px;
}

/* line 419, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-arrowthickstop-1-e {
  background-position: -208px -48px;
}

/* line 423, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-arrowthickstop-1-s {
  background-position: -224px -48px;
}

/* line 427, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-arrowthickstop-1-w {
  background-position: -240px -48px;
}

/* line 431, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-arrowreturnthick-1-w {
  background-position: 0 -64px;
}

/* line 435, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-arrowreturnthick-1-n {
  background-position: -16px -64px;
}

/* line 439, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-arrowreturnthick-1-e {
  background-position: -32px -64px;
}

/* line 443, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-arrowreturnthick-1-s {
  background-position: -48px -64px;
}

/* line 447, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-arrowreturn-1-w {
  background-position: -64px -64px;
}

/* line 451, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-arrowreturn-1-n {
  background-position: -80px -64px;
}

/* line 455, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-arrowreturn-1-e {
  background-position: -96px -64px;
}

/* line 459, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-arrowreturn-1-s {
  background-position: -112px -64px;
}

/* line 463, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-arrowrefresh-1-w {
  background-position: -128px -64px;
}

/* line 467, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-arrowrefresh-1-n {
  background-position: -144px -64px;
}

/* line 471, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-arrowrefresh-1-e {
  background-position: -160px -64px;
}

/* line 475, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-arrowrefresh-1-s {
  background-position: -176px -64px;
}

/* line 479, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-arrow-4 {
  background-position: 0 -80px;
}

/* line 483, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-arrow-4-diag {
  background-position: -16px -80px;
}

/* line 487, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-extlink {
  background-position: -32px -80px;
}

/* line 491, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-newwin {
  background-position: -48px -80px;
}

/* line 495, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-refresh {
  background-position: -64px -80px;
}

/* line 499, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-shuffle {
  background-position: -80px -80px;
}

/* line 503, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-transfer-e-w {
  background-position: -96px -80px;
}

/* line 507, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-transferthick-e-w {
  background-position: -112px -80px;
}

/* line 511, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-folder-collapsed {
  background-position: 0 -96px;
}

/* line 515, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-folder-open {
  background-position: -16px -96px;
}

/* line 519, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-document {
  background-position: -32px -96px;
}

/* line 523, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-document-b {
  background-position: -48px -96px;
}

/* line 527, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-note {
  background-position: -64px -96px;
}

/* line 531, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-mail-closed {
  background-position: -80px -96px;
}

/* line 535, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-mail-open {
  background-position: -96px -96px;
}

/* line 539, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-suitcase {
  background-position: -112px -96px;
}

/* line 543, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-comment {
  background-position: -128px -96px;
}

/* line 547, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-person {
  background-position: -144px -96px;
}

/* line 551, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-print {
  background-position: -160px -96px;
}

/* line 555, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-trash {
  background-position: -176px -96px;
}

/* line 559, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-locked {
  background-position: -192px -96px;
}

/* line 563, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-unlocked {
  background-position: -208px -96px;
}

/* line 567, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-bookmark {
  background-position: -224px -96px;
}

/* line 571, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-tag {
  background-position: -240px -96px;
}

/* line 575, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-home {
  background-position: 0 -112px;
}

/* line 579, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-flag {
  background-position: -16px -112px;
}

/* line 583, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-calendar {
  background-position: -32px -112px;
}

/* line 587, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-cart {
  background-position: -48px -112px;
}

/* line 591, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-pencil {
  background-position: -64px -112px;
}

/* line 595, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-clock {
  background-position: -80px -112px;
}

/* line 599, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-disk {
  background-position: -96px -112px;
}

/* line 603, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-calculator {
  background-position: -112px -112px;
}

/* line 607, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-zoomin {
  background-position: -128px -112px;
}

/* line 611, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-zoomout {
  background-position: -144px -112px;
}

/* line 615, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-search {
  background-position: -160px -112px;
}

/* line 619, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-wrench {
  background-position: -176px -112px;
}

/* line 623, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-gear {
  background-position: -192px -112px;
}

/* line 627, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-heart {
  background-position: -208px -112px;
}

/* line 631, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-star {
  background-position: -224px -112px;
}

/* line 635, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-link {
  background-position: -240px -112px;
}

/* line 639, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-cancel {
  background-position: 0 -128px;
}

/* line 643, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-plus {
  background-position: -16px -128px;
}

/* line 647, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-plusthick {
  background-position: -32px -128px;
}

/* line 651, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-minus {
  background-position: -48px -128px;
}

/* line 655, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-minusthick {
  background-position: -64px -128px;
}

/* line 659, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-close {
  background-position: -80px -128px;
}

/* line 663, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-closethick {
  background-position: -96px -128px;
}

/* line 667, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-key {
  background-position: -112px -128px;
}

/* line 671, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-lightbulb {
  background-position: -128px -128px;
}

/* line 675, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-scissors {
  background-position: -144px -128px;
}

/* line 679, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-clipboard {
  background-position: -160px -128px;
}

/* line 683, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-copy {
  background-position: -176px -128px;
}

/* line 687, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-contact {
  background-position: -192px -128px;
}

/* line 691, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-image {
  background-position: -208px -128px;
}

/* line 695, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-video {
  background-position: -224px -128px;
}

/* line 699, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-script {
  background-position: -240px -128px;
}

/* line 703, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-alert {
  background-position: 0 -144px;
}

/* line 707, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-info {
  background-position: -16px -144px;
}

/* line 711, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-notice {
  background-position: -32px -144px;
}

/* line 715, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-help {
  background-position: -48px -144px;
}

/* line 719, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-check {
  background-position: -64px -144px;
}

/* line 723, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-bullet {
  background-position: -80px -144px;
}

/* line 727, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-radio-off {
  background-position: -96px -144px;
}

/* line 731, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-radio-on {
  background-position: -112px -144px;
}

/* line 735, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-pin-w {
  background-position: -128px -144px;
}

/* line 739, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-pin-s {
  background-position: -144px -144px;
}

/* line 743, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-play {
  background-position: 0 -160px;
}

/* line 747, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-pause {
  background-position: -16px -160px;
}

/* line 751, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-seek-next {
  background-position: -32px -160px;
}

/* line 755, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-seek-prev {
  background-position: -48px -160px;
}

/* line 759, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-seek-end {
  background-position: -64px -160px;
}

/* line 763, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-seek-first {
  background-position: -80px -160px;
}

/* line 767, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-stop {
  background-position: -96px -160px;
}

/* line 771, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-eject {
  background-position: -112px -160px;
}

/* line 775, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-volume-off {
  background-position: -128px -160px;
}

/* line 779, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-volume-on {
  background-position: -144px -160px;
}

/* line 783, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-power {
  background-position: 0 -176px;
}

/* line 787, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-signal-diag {
  background-position: -16px -176px;
}

/* line 791, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-signal {
  background-position: -32px -176px;
}

/* line 795, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-battery-0 {
  background-position: -48px -176px;
}

/* line 799, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-battery-1 {
  background-position: -64px -176px;
}

/* line 803, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-battery-2 {
  background-position: -80px -176px;
}

/* line 807, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-battery-3 {
  background-position: -96px -176px;
}

/* line 811, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-circle-plus {
  background-position: 0 -192px;
}

/* line 815, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-circle-minus {
  background-position: -16px -192px;
}

/* line 819, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-circle-close {
  background-position: -32px -192px;
}

/* line 823, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-circle-triangle-e {
  background-position: -48px -192px;
}

/* line 827, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-circle-triangle-s {
  background-position: -64px -192px;
}

/* line 831, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-circle-triangle-w {
  background-position: -80px -192px;
}

/* line 835, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-circle-triangle-n {
  background-position: -96px -192px;
}

/* line 839, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-circle-arrow-e {
  background-position: -112px -192px;
}

/* line 843, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-circle-arrow-s {
  background-position: -128px -192px;
}

/* line 847, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-circle-arrow-w {
  background-position: -144px -192px;
}

/* line 851, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-circle-arrow-n {
  background-position: -160px -192px;
}

/* line 855, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-circle-zoomin {
  background-position: -176px -192px;
}

/* line 859, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-circle-zoomout {
  background-position: -192px -192px;
}

/* line 863, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-circle-check {
  background-position: -208px -192px;
}

/* line 867, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-circlesmall-plus {
  background-position: 0 -208px;
}

/* line 871, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-circlesmall-minus {
  background-position: -16px -208px;
}

/* line 875, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-circlesmall-close {
  background-position: -32px -208px;
}

/* line 879, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-squaresmall-plus {
  background-position: -48px -208px;
}

/* line 883, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-squaresmall-minus {
  background-position: -64px -208px;
}

/* line 887, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-squaresmall-close {
  background-position: -80px -208px;
}

/* line 891, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-grip-dotted-vertical {
  background-position: 0 -224px;
}

/* line 895, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-grip-dotted-horizontal {
  background-position: -16px -224px;
}

/* line 899, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-grip-solid-vertical {
  background-position: -32px -224px;
}

/* line 903, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-grip-solid-horizontal {
  background-position: -48px -224px;
}

/* line 907, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-gripsmall-diagonal-se {
  background-position: -64px -224px;
}

/* line 911, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-icon-grip-diagonal-se {
  background-position: -80px -224px;
}

/* line 915, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-corner-tl {
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
}

/* line 920, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-corner-tr {
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
}

/* line 925, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-corner-bl {
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
}

/* line 930, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-corner-br {
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
}

/* line 935, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-corner-top {
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
}

/* line 942, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-corner-bottom {
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
}

/* line 949, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-corner-right {
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
}

/* line 956, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-corner-left {
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
}

/* line 963, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-corner-all {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
}

/* line 968, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-widget-overlay {
  background: #aaaaaa none 0 0 repeat-x;
  opacity: 0.3;
  filter: Alpha(Opacity= 30);
}

/* line 974, ../../app/stylesheets/jquery-ui/ui.theme.sass */
.ui-widget-shadow {
  margin: -4px 0 0 -4px;
  padding: 4px;
  background: #aaaaaa none 0 0 repeat-x;
  opacity: 0.35;
  filter: Alpha(Opacity= 35);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

/* line 18, ../../app/stylesheets/screen.sass */
html {
  background-color: inherit;
  height: 100%;
}

/* line 22, ../../app/stylesheets/screen.sass */
body {
  height: 100%;
  font-family: "adelle-1", "adelle-2";
  font-size: 18px;
  background-color: #b0b0b0;
}

/* line 29, ../../app/stylesheets/screen.sass */
#wrapper {
  margin: 0 auto 30px;
  position: relative;
  min-height: 100%;
  width: 960px;
  overflow: auto;
  padding: 0 20px;
  background-color: white;
  -moz-box-shadow: 0 0 30px #666666;
  -webkit-box-shadow: 0 0 30px #666666;
  box-shadow: 0 0 30px #666666;
}
/* line 41, ../../app/stylesheets/screen.sass */
#wrapper .title {
  font-size: 60px;
  text-align: center;
  padding-top: 20px;
}
/* line 45, ../../app/stylesheets/screen.sass */
#wrapper .control_bar {
  font-size: 30px;
  text-align: center;
  padding-top: 20px;
}
/* line 50, ../../app/stylesheets/screen.sass */
#wrapper .control_bar span#grade, #wrapper .control_bar span#state {
  padding: 10px 5px 5px 5px;
  cursor: pointer;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}
/* line 54, ../../app/stylesheets/screen.sass */
#wrapper .control_bar span#grade {
  background-color: FFBC08;
}
/* line 56, ../../app/stylesheets/screen.sass */
#wrapper .control_bar span#grade.hidden {
  color: FFBC08;
}
/* line 59, ../../app/stylesheets/screen.sass */
#wrapper .control_bar span#state {
  background-color: FF7700;
}
/* line 61, ../../app/stylesheets/screen.sass */
#wrapper .control_bar span#state.hidden {
  color: FF7700;
}
/* line 68, ../../app/stylesheets/screen.sass */
#wrapper form, #wrapper #navigation {
  text-align: center;
}
/* line 71, ../../app/stylesheets/screen.sass */
#wrapper form .button_set, #wrapper #navigation .button_set {
  text-align: left;
  display: none;
  position: absolute;
  padding: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}
/* line 77, ../../app/stylesheets/screen.sass */
#wrapper form .button_set#states, #wrapper #navigation .button_set#states {
  background-color: FF7700;
}
/* line 79, ../../app/stylesheets/screen.sass */
#wrapper form .button_set#grades, #wrapper #navigation .button_set#grades {
  background-color: FFBC08;
}
/* line 82, ../../app/stylesheets/screen.sass */
#wrapper form .button_set .label, #wrapper #navigation .button_set .label {
  width: 120px;
  text-align: right;
  display: inline-block;
}
/* line 87, ../../app/stylesheets/screen.sass */
#wrapper form .button_set label.ui-button, #wrapper #navigation .button_set label.ui-button {
  background-color: inherit;
  border: 0px;
}
/* line 90, ../../app/stylesheets/screen.sass */
#wrapper form .button_set label.ui-state-default, #wrapper #navigation .button_set label.ui-state-default {
  color: 000;
}
/* line 92, ../../app/stylesheets/screen.sass */
#wrapper form .button_set label.ui-state-hover, #wrapper #navigation .button_set label.ui-state-hover {
  color: 666666;
}
/* line 94, ../../app/stylesheets/screen.sass */
#wrapper form .button_set label.ui-state-active, #wrapper #navigation .button_set label.ui-state-active {
  color: fff;
}
/* line 96, ../../app/stylesheets/screen.sass */
#wrapper form .button_set label.ui-focus-active, #wrapper #navigation .button_set label.ui-focus-active {
  color: fff;
}

/*NAVIGATION AREA * */
