/*
	Welcome to Compass.
	In this file you should write your main styles. (or centralize your imports)
	Import this file using the following HTML or equivalent:
	<link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

@import compass/reset
@import 960/grid.sass
@import jquery-ui/ui.all.sass
html
	background-color: inherit
	height: 100%

body
	height: 100%
	font-family: Geneva, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif
	font-size: 18px
	background-color: #b0b0b0

#wrapper
	margin: 0 auto 30px
	position: relative
	min-height: 100%
	width: 960px
	overflow: auto
	padding: 0 20px
	background-color: #ffffff
	-moz-box-shadow: 0 0 30px #666666
	-webkit-box-shadow: 0 0 30px #666666
	box-shadow: 0 0 30px #666666
	form, #navigation
		padding: 40px
		text-align: center
		.button_set
			text-align: left
			.label
				width: 120px
				text-align: right
				display: inline-block
/** NAVIGATION AREA *
