<div id="navigation">
	<ul class="grade">
		<li>Grade</li>
		<li>K</li>
		<li>1</li>
		<li>2</li>
		<li>3</li>
		<li>4</li>
		<li>5</li>
		<li>6</li>
		<li>7</li>
		<li>8</li>
	</ul>
	<ul class="curriculum">
		<li>Maryland Stuff</li>
		<li>Common Curriculum</li>
	</ul>
</div>